CHECK_INTERVAL=300
PORT=8080
BIND=0.0.0.0
SCHEDULE_URL=https://raspisanie.nikasoft.ru/15312761.html
CHECK_URL=https://raspisanie.nikasoft.ru/check/15312761.html
DATA_BASE_URL=https://raspisanie.nikasoft.ru/static/public/
DATA_DIR=data
FCM_PROJECT_ID=raspisanie-6f41c
FCM_SERVICE_ACCOUNT=firebase-service-account.json
