BOT_TOKEN=
CHECK_INTERVAL=300
SCHEDULE_URL=https://raspisanie.nikasoft.ru/15312761.html
CHECK_URL=https://raspisanie.nikasoft.ru/check/15312761.html
DATA_BASE_URL=https://raspisanie.nikasoft.ru/static/public/
DATA_DIR=data
